# List Comprehension

In [1]:
even_numbers = [x for x in range(5) if x % 2 == 0]
print(even_numbers)

[0, 2, 4]

In [2]:
squares = [x*x for x in range(5)]
print(squares)

[0, 1, 4, 9, 16]

In [3]:
even_squares = [x*x for x in even_numbers]
even_squares

[0, 4, 16]

In [4]:
square_dict = {x : x*x for x in range(5)}

In [5]:
print(square_dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [6]:
square_set = {x*x for x in [1, -1]}
square_set

{1}

In [7]:
pairs = [(x, y)
        for x in range(5)
        for y in range(5)]
print(pairs)

[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (1, 0), (1, 1), (1, 2), (1, 3), (1, 4), (2, 0), (2, 1), (2, 2), (2, 3), (2, 4), (3, 0), (3, 1), (3, 2), (3, 3), (3, 4), (4, 0), (4, 1), (4, 2), (4, 3), (4, 4)]

In [8]:
increasing_pairs = [(x, y)
                   for x in range(10)
                   for y in range(x + 1, 10)]
increasing_pairs

[(0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 8),
 (7, 9),
 (8, 9)]

# Regular expressions
* 주민등록번호를 포함하고 있는 텍스트가 있다. 이 텍스트에 포함된 모든 주민등록번호의 뒷자리를 * 문자로 변경해 보자.

    1. 전체 텍스트를 공백 문자로 나눈다(split).
    2. 나뉜 단어가 주민등록번호 형식인지 조사한다.
    3. 단어가 주민등록번호 형식이라면 뒷자리를 *로 변환한다.
    4. 나뉜 단어를 다시 조립한다.
    
예제 출처 : [위키독스 점프 투 파이썬](https://wikidocs.net/1642)

```
p = re.compile(정규표현식)
m = p.match( 'string goes here' )
if m:
    print('Match found: ', m.group())
else:
    print('No match')
```

In [9]:
import re

In [10]:
p = re.compile('[a-z]+')

In [28]:
m = p.match("python")
print(m)

<_sre.SRE_Match object; span=(0, 6), match='python'>

In [30]:
m.group()
m.start()

0

In [26]:
m = p.match("3 python")
print(m)

None

In [23]:
m = p.findall("life is too short")
print(result)

['life', 'is', 'too', 'short']

In [31]:
print(re.search('^Life', 'Life is too short'))

<_sre.SRE_Match object; span=(0, 4), match='Life'>

In [32]:
print(re.search('short$', 'Life is too short'))

<_sre.SRE_Match object; span=(12, 17), match='short'>

In [34]:
p1 = re.compile(r'\bclass\b')
p2 = re.compile(r'\Bclass\B')

print(p1.search('one class is'))
print(p2.search('one class is'))

<_sre.SRE_Match object; span=(4, 9), match='class'>
None

In [35]:
print(p1.search('the declassified algorithm'))
print(p2.search('the declassified algorithm'))

None
<_sre.SRE_Match object; span=(6, 11), match='class'>

In [44]:
p = re.compile(r"(\w+)\s+(\d+[-]\d+[-]\d+)")
m = p.search("jo 010-1234-5678")
print(m.group(1))

jo

### Pandas practice
- source : https://3months.tistory.com/292

In [1]:
import pandas as pd
import numpy as np

In [2]:
arr = np.array([[1, 2, 3], [4, 5, 6]])
pd.DataFrame(arr)

   0  1  2
0  1  2  3
1  4  5  6

In [4]:
my_dict = {"a" : ['1', '3'], "b" : ['1', '2'], "c": ['2', '4']}
print(type(my_dict))
pd.DataFrame(my_dict)

<class 'dict'>

   a  b  c
0  1  1  2
1  3  2  4

In [5]:
my_df = pd.DataFrame(data = [4, 5, 6, 7], index = range(0, 4), columns=['A'])
pd.DataFrame(my_df)

   A
0  4
1  5
2  6
3  7

In [6]:
my_df = pd.DataFrame(data = [4, 5, 6, 7], columns=['A'])
pd.DataFrame(my_df)

   A
0  4
1  5
2  6
3  7

In [7]:
my_series = pd.Series({"UK" : "London", "India" : "New Delhi", "US" : "Washington", "Belgium" : "Brussels"})
print(type(my_series))
pd.DataFrame(my_series)

<class 'pandas.core.series.Series'>

                  0
UK           London
India     New Delhi
US       Washington
Belgium    Brussels

In [14]:
df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6]]))
print(df.shape)
df

(2, 3)

   0  1  2
0  1  2  3
1  4  5  6